<div class="team-container">
  <div class="container">
    <div class="columns">
      <div class="column col-12">
        <div class="container the-team-padding">
          <div class="columns">
            <div class="column col-sm-12 col-4">
                <h2 class="team-header">the team</h2>
            </div>
            <div class="column team-text-padding col-sm-12 col-8">
                We’re a dedicated and versatile team sharing the same passion for the plastic waste problem and for this
                solution! Since
                January 2018 we have kept expanding the team and the community, mainly based in Oslo, Norway but with
                ambassadors, advisors,
                mentors and friends all around the World. Maybe you will be the next to join our team?
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column col-12">
        <div class="container">
          <div class="columns">
            <div class="column col-sm-12 col-3 team-member">
              <img class="team-profile-pic" src="assets/team/wilhelm.jpg">
              <br> <b>Wilhelm Myrer</b>
              <br> CEO & Founder
            </div>
            <div class="column col-sm-12 col-3 team-member">
              <img class="team-profile-pic" src="assets/team/carl.jpg">
              <br> <b>Carl Nesset</b>
              <br> COO
            </div>
            <div class="column col-sm-12 col-3 team-member">
              <img class="team-profile-pic" src="assets/team/gjermund.jpg">
              <br> <b>Gjermund Bjaanes</b>
              <br> CTO
            </div>
            <div class="column col-sm-12 col-3 team-member">
              <img class="team-profile-pic" src="assets/team/anette.jpg">
              <br> <b>Anette Simonsen</b>
              <br> Social Media
            </div>
            <div class="column col-sm-12 col-3 team-member">
              <img class="team-profile-pic" src="assets/team/fredrik.jpg">
              <br> <b>Fredrik Hertzberg</b>
              <br> Sales & Communication
            </div>
            <div class="column col-sm-12 col-3 team-member">
              <img class="team-profile-pic" src="assets/team/anna.jpg">
              <br> <b>Anna Torst Saatvedt</b>
              <br> Graphic Design
            </div>
            <div class="column col-sm-12 col-3 team-member">
              <img class="team-profile-pic" src="assets/team/simen.png">
              <br> <b>Simen Knudsen</b>
              <br> Ocean Ambassador
            </div>
            <div class="column col-sm-12 col-3 team-member">
              <img class="team-profile-pic" src="assets/team/truls.png">
              <br> <b>Truls Haugland</b>
              <br> UX/UI
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>