<div class="footer">
    <div class="footer-content">
        <div class="footer-block contact">
            <h4>Contact</h4>
            <ul>
                <li>Org.Nr: 920572553</li>
                <li>Address: Nedre Vollgate 3 c/o The Factory<br>
                    0158 OSLO</li>
                <li>Phone: +47 986 66 491</li>
                <li>Email: <a href="mailto:hi@empower.eco">hi@empower.eco</a></li>
            </ul>
        </div>
        <div class="footer-block links">
            <h4>Links</h4>
            <ul>
                <li><a (click)="goToPrivacy()">Privacy</a></li>
                <li><a (click)="goToFaq()">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-block social-media">
            <a href="https://www.instagram.com/empowerplastic/" target="_blank"><img src="assets/instagram.png"></a>
            <a href="https://twitter.com/empowerplastic" target="_blank"><img src="assets/twitter.png"></a>
            <a href="https://facebook.com/empowerplastic" target="_blank"><img src="assets/facebook.png"></a>
        </div>
    </div>
    <div class="copyright">
        Empower © 2018
    </div>

</div>