<div>

    <div class="white-box">
        <h2>why it works</h2>
        <div class="fund-content-container">
            <div class="fund-text">
                <div class="section">
                    <b>A cleaner world</b>
                    <br>
                    We believe that, with mutual efforts, we can achieve a better, cleaner, healthier environment worldwide, and help fight poverty while doing it.
                </div>

                <div class="section">
                    <b>Incentivized Cleaning</b>
                    <br>
                    Through the use of blockchain technology, we’re able to instantly reward a digital token worth 1 dollar for every 1 kilogram of plastic waste brought to us, enabling those in need to earn money by being a part of this new global eco-community.
                </div>

                <div class="section">
                    <b>Everyone can help</b>
                    <br>
                    Becoming part of this community is easy – we receive funding on a subscription basis, allowing everyone to choose exactly how much they want to help!
                </div>

                <div class="section">
                    <b>Effecient impact</b>
                    <br>
                    For every one dollar you donate, one kilogram of harmful plastic waste will be recycled and removed from the environment, allowing you to become a part of the solution, instead of being a part of the problem.
                </div>
            </div>
            <div class="fund-image">
                <img src="assets/fund-image.jpg">
            </div>
        </div>


    </div>

</div>