app-page {
  margin-top: 50px;
  margin-bottom: 30px;

  @media screen and (max-width: 600px) {
    margin-top: 0;
  }
}

input {
  margin-bottom: 10px;
}

.change-password-button {
  width: 100%;
  height: 40px;
}

.change-password-header {
  margin-top: 20px;
  text-align: center;
  font-family: 'HK Grotesk';
  font-weight: 800;
}

@media screen and (max-width: 360px) {
  .change-password-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}