<div  class="container">
  <div class="new-forgot">
    <div class="new-forgot-header">
      <div class="forgot-icon">
        <img src="../../../assets/new-pages/hand.png">
      </div>
      <h1>Reset Password</h1>
    </div>

    <div class="new-forgot-content">
      <form (ngSubmit)="new_forgot()">
        <div class="form-group">
          <label class="forgot-success">{{ success }}</label>
          <label class="forgot-error">{{ error }}</label>
        </div>
        <div class="form-group">
          <input class="form-control" type="email" [(ngModel)]="email" placeholder="Useremail" name="email">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info btn-lg btn-block">Reset Password</button>
        </div>
      </form>
    </div>

  </div>
</div>
