<app-page>
  <div class="columns">
    <div class="column col-12 col-content">
      <h1>Forgot password?</h1>

      Type in your email below to get an email to reset your password:
      <input type="email" [(ngModel)]="email" placeholder="E-Mail">
      <button (click)="resetPassword()" [disabled]="success" class="forgot-password-button">Reset Password</button>
      <div *ngIf="error !== ''">
        Something went wrong: {{error}}
      </div>
      <div *ngIf="success">
        An email to reset your password has been sent to your email address (if there is a user with that address on
        Empower).
      </div>
    </div>
  </div>

</app-page>