<div class="container">
  <div class="new-faq">
    <div class="new-faq-header">
      <div class="faq-icon">
        <img src="../../../assets/new-pages/thinking.png">
      </div>
      <h1>FAQ</h1>
    </div>
    <div class="new-faq-content">
      <div class="new-faq-item">
        <h5>Who gathers the plastic?</h5>
        <p>Anyone who wants to deliver plastic waste and receive Empower Tokens. In our first pilots and clean ups there are volunteers who are
          cleaning beaches and defined areas and the clean ups are organised together with local NGOs.</p>
      </div>
      <div class="new-faq-item">
        <h5>Where is it gathered?</h5>
        <p>The first pilot was a beach in Hoddevik, Norway. The second clean up was in Mumbai, India and the third in Bali, Indonesia. We are continuously
          planning additional pilots in Norway and other countries in Africa and South East Asia with the next ones coming up in Indonesia and Sri Lanka,
          and it can be anywhere, in cities, beaches, rivers, jungle etc.</p>
      </div>
      <div class="new-faq-item">
        <h5>What happens with the plastic? Where does it end up?</h5>
        <p>In the first pilot the plastic was taken care of by Nordic Ocean Watch, and NGO passionate about solving the problems of ocean plastic.
          In India it was done in cooperation with a local NGO and local authorities. We are building a network of trusted partners that will receive and
          ensure proper recycling of the plastic waste and working on establishing certification and QA processes. This is a key to make the ecosystem work.</p>
      </div>
      <div class="new-faq-item">
        <h5>How are the sponsor money distributed? Who gets what?</h5>
        <p>80% goes directly to the plastic waste fund and is paid out to the ones cleaning up plastic, 15% goes to develop the technology and run the operations,
          and 5% is donated to local partners (NGOs) and charities to fight poverty.</p>
      </div>
      <div class="new-faq-item">
        <h5>How do you prove that my money actually goes towards cleaning up plastic?</h5>
        <p>Using Blockchain technology we are able to track and link every deposit of plastic back to the sponsor who made it possible.
          When you get the App you will be able to see and track all your donations and where plastic has been collected on your behalf.</p>
      </div>
    </div>
  </div>
</div>
