.new-login {
  .new-login-header {
    text-align: center;
    padding-bottom: 5%;

    img {
      width: 50px;
      height: 50px;
    }
  }
  .login-error {
    text-align: center;
    width: 100%;
    color: orangered;
  }
  .new-login-content {
    padding: 0 15%;

    button {
      background: #00c5ff;
    }
    button:hover {
      background: #0086b2;
    }
  }

  @media screen and (max-width: 768px) {
    .new-login-content {
      padding: 0 7%;
    }
  }
  @media screen and (max-width: 414px) {
    .new-login-content {
      padding: 0 3%;
    }
  }
}
