<app-page>
  <div class="columns">
    <div class="column col-12">
      <div class="container">
        <div class="columns">
          <div class="column col-about col-sm-12 col-6 col-content">
            <div class="about-section-container">
              <h1>about empower</h1>
              <div class="about-text">
                <p>Based on the idea of using technology to enable a circular economy and create a cleaner and better
                  world,
                  Empower was founded in January 2018. <b>We are building a global plastic waste ecosystem.</b> To
                  solve the
                  problem
                  of plastic waste, Empower is built on the same philosophy as the Norwegian bottle deposit system.
                  By
                  rewarding deposit of plastic waste we can both stop leakage of plastic into the environment, and
                  incentivise
                  collection of leaked waste.</p>

                <p>Our mission is that you can pick up plastic waste anywhere in the world, deliver
                  it at a collection point and immediately receive a reward. The use of Blockchain technology ensures
                  full
                  transparency. We are able to track and link every deposit of plastic back to the sponsor who made
                  it
                  possible!
                  #plasticwastemovement</p>
              </div>
            </div>

          </div>
          <div class="column hide-sm col-6 col-content">
            <img class="dirty-bottles" src="assets/dirtybottles.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column col-12 col-green col-content">
      <app-team></app-team>
    </div>
  </div>
  <div class="columns time-line-columns">
    <div class="column col-12 col-content">
      <img class="timeline-image" src="assets/timeline_empower.png">
    </div>
  </div>
  <div class="columns">
    <div class="column col-12 col-content">
      <app-subscribe-to-newsletter></app-subscribe-to-newsletter>
    </div>
  </div>
</app-page>