<app-page>
  <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

  <div class="columns">
    <div class="column col-12 login-container">
      <h1 class="login-header">
        Log in
      </h1>
      <h3 class="login-sub">
        to view your profile and subscriptions
      </h3>

      <form (ngSubmit)="login()">
        <input type="email" [(ngModel)]="email" placeholder="E-mail" name="email">
        <br>
        <input type="password" [(ngModel)]="password" placeholder="Password" name="password">
        <button [disabled]="email === '' || password === ''" type="submit" class="login-button">Log in</button>
      </form>
      <div class="text-center">
        <a routerLink="/forgot-password" routerLinkActive="active">Forgot Password?</a>
      </div>

      <div *ngIf="error">
        Something went wrong: {{error}}
      </div>

      <br>
      <div class="register-container">
        Don't have an account yet?
        <button class="login-button" (click)="register()">Register new account</button>
      </div>
    </div>
  </div>

</app-page>