<app-page>
    <div class="columns">
        <div class="column col-12 col-content hero-container">
            <h1>The Ultimate Solution <br> To The Plastic Waste Problem</h1>
            <h2 class="subtitle">We’re building a globally funded ecosystem that aims to solve <br> the plastic waste
                problem, restore the environment, and help those in need.</h2>
        </div>
        <div class="column col-12 col-content">
            <div class="container landing-page-content-container">
                <div class="columns">
                    <div class="column col-6 col-md-12">
                        <div class="checkbox-line">
                            <img class="checkbox-img" src="assets/checkbox.png">
                            <div class="checkbox-title">A cleaner and healthier world</div>
                        </div>
                        <div class="checkbox-text">This planet is our home – it’s time we start treating it like one.
                            Everyone who helps Empower
                            is making a direct impact toward making the world a better place.</div>

                        <div class="checkbox-line">
                            <img class="checkbox-img" src="assets/checkbox.png">
                            <div class="checkbox-title">Fight povery while cleaning the world</div>
                        </div>
                        <div class="checkbox-text">Every dollar you donate will end up in the hands of people who are
                            working hard for it,
                            actively collecting kilograms of plastic waste and bringing it to our recycling stations.</div>

                        <div class="checkbox-line">
                            <img class="checkbox-img" src="assets/checkbox.png">
                            <div class="checkbox-title"> Know where your money is going</div>
                        </div>
                        <div class="checkbox-text">We’re fully transparent with our donations – through the use of
                            blockchain technology, you will
                            know exactly where (and to who) your money is going to at all times.</div>
                    </div>
                    <div class="column col-6 col-md-12">
                        <div class="call-to-action">
                            <div class="cta-header">Plastic Positive</div>
                            <img class="cta-badge" src="assets/plastic-positive.png">
                            <div class="cta-text">Removes 5kg of plastic
                                <br>
                                ($5 / month)
                            </div>
                            <button (click)="subscribe()" class="cta-button">Subscribe now!</button>
                        </div>
                    </div>
                </div>
                <div class="columns space-columns">
                    <div class="column col-12">
                        <hr>
                        <a href="https://www.independent.co.uk/news/business/indyventure/plastic-waste-recycling-blockchain-empower-oslo-innovation-a8565906.html"
                            target="_blank">
                            <div class="independent-quote">
                                "Norway's Empower is using blockchain to clean up the world's oceans"
                                <br>
                                <img class="independent-logo" src="assets/independent-logo.png">
                            </div>
                        </a>
                        <hr>
                    </div>
                </div>
                <div class="columns">
                    <div class="column col-6 hide-md explainer-column">
                        <img class="plastic-waste" src="assets/plastic-waste.jpg">
                    </div>
                    <div class="column col-6 col-md-12 explainer-column">
                        <div class="explainer-container">
                            <h2 class="explainer-header">do you want to help save the planet?</h2>
                            <p>Whether you see it with your own eyes or not, plastic waste is destroying our oceans and
                                beautiful nature.</p>
                            <p>Plastic is a material that the Earth cannot digest. Every piece of plastic ever produced
                                is
                                still here with us and will be for hundreds of years.</p>
                            <p>Even something as little as throwing out a plastic bottle leads to it breaking down to
                                smaller
                                and smaller pieces, attracting toxic chemicals, and contaminating nature around you.</p>

                            <p class="explainer-text-hightlight">We aim to solve this problem by creating a fund that
                                rewards people for bringing their
                                unwanted plastic waste to any of our certified recycling stations.</p>
                        </div>

                    </div>
                </div>
                <div class="columns">
                    <div class="column col-12 support-now-column">
                        <hr>
                            <button (click)="subscribe()" class="support-now-button">Remove plastic now</button>
                        <hr>
                    </div>
                </div>
                <div class="columns">
                    <div class="column col-12">
                        <h2 class="how-it-works-header">how it works</h2>
                        <div class="container step-container">
                            <div class="columns">
                                <div class="column col-3 col-sm-12">
                                    <img class="explainer-icon" src="assets/how-it-works/collect.png">
                                    <h3>step 1</h3>
                                    <div>
                                        Anyone can gather plastic waste
                                    </div>
                                </div>
                                <div class="column col-3 col-sm-12">
                                    <img class="explainer-icon" src="assets/how-it-works/recycle.png">
                                    <h3>step 2</h3>
                                    <div>
                                        The waste is delivered at a certified recycling station
                                    </div>
                                </div>
                                <div class="column col-3 col-sm-12">
                                    <img class="explainer-icon" src="assets/how-it-works/emp.png">
                                    <h3>step 3</h3>
                                    <div>
                                        1 EMP token is rewarded for each kilogram of plastic waste (1 EMP always equals
                                        $1)
                                    </div>
                                </div>
                                <div class="column col-3 col-sm-12">
                                    <img class="explainer-icon" src="assets/how-it-works/payandexchange.png">
                                    <h3>step 4</h3>
                                    <div>
                                        Tokens can be used in the ecosystem or sold back for local currency
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column col-12">
                        <app-why-it-works></app-why-it-works>
                    </div>
                </div>
                <div class="columns">
                    <div class="column col-12">
                        <h2 class="subscribe-header">join the movement and save the planet!</h2>
                    </div>
                </div>
                <div id="now" class="columns">
                    <div class="column col-6 hide-md">
                        <div class="checkbox-line">
                            <img class="checkbox-img" src="assets/checkbox.png">
                            <div class="checkbox-title">A cleaner and healthier world</div>
                        </div>
                        <div class="checkbox-text">This planet is our home – it’s time we start treating it like one.
                            Everyone who helps Empower
                            is making a direct impact toward making the world a better place.</div>

                        <div class="checkbox-line">
                            <img class="checkbox-img" src="assets/checkbox.png">
                            <div class="checkbox-title">Fight povery while cleaning the world</div>
                        </div>
                        <div class="checkbox-text">Every dollar you donate will end up in the hands of people who are
                            working hard for it,
                            actively collecting kilograms of plastic waste and bringing it to our recycling stations.</div>

                        <div class="checkbox-line">
                            <img class="checkbox-img" src="assets/checkbox.png">
                            <div class="checkbox-title"> Know where your money is going</div>
                        </div>
                        <div class="checkbox-text">We’re fully transparent with our donations – through the use of
                            blockchain technology, you will
                            know exactly where (and to who) your money is going to at all times.</div>
                    </div>
                    <div class="column col-6 col-md-12">
                        <div class="call-to-action">
                            <div class="cta-header">Plastic Positive</div>
                            <img class="cta-badge" src="assets/plastic-positive.png">
                            <div class="cta-text">Removes 5kg of plastic
                                <br>
                                ($5 / month)
                            </div>
                            <button (click)="subscribe()" class="cta-button">Subscribe now!</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</app-page>