.blog-post-container {
    .wpingress {
        display: none;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h2, h3, h4, h5, h6 {
        font-family: 'HK Grotesk';
        text-transform: uppercase;
    }

    blockquote {
        font-family: 'HK Kontrast';
        font-size: 15pt;
    }

    .gallery-row {
        display: flex;
        justify-content: space-evenly;
    }
}