<app-page>
  <div class="columns">
    <div class="column col-12">
      <div class="container">
        <div class="columns">
          <div class="column header-image-container col-sm-12 col-6">
            <img class="header-image" src="assets/palett.jpg">
          </div>
          <div class="column plastic-movement-container col-6">
            <h1 class="big-header">
              become
              <br>
              plastic
              <br>
              positive!
            </h1>
            <div class="call-to-action-container">
              <a href="/#act-now">
                <button class="call-to-action-button">
                  Decide your impact
                </button>
              </a>
            </div>
            <div class="about-box">
              Empower is creating a solution to the plastic waste problem by giving plastic a value. We are <b>cleaning
                up the world</b> while fighting poverty by providing a wage to those in need.
              <a class="about-link" href="about">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns stats-container">
    <div class="column col-12 col-content">
      <app-totalt-cleaning-stats></app-totalt-cleaning-stats>
    </div>
  </div>
  <div class="columns" id="act-now">
    <div class="column col-12 col-green">
      <app-sponsor></app-sponsor>
    </div>
  </div>
  <div class="columns">
    <div class="column col-12 how-it-works-container col-content">
      <app-how-it-works></app-how-it-works>
    </div>
  </div>
  <div class="columns">
    <div class="column col-12 col-content">
      <app-video></app-video>
    </div>
  </div>

  <div class="columns">
    <div class="column col-12 col-content">
      <app-about-fund></app-about-fund>
    </div>
  </div>

  <div class="columns">
    <div class="column col-12 col-content">
      <app-subscribe-to-newsletter></app-subscribe-to-newsletter>
    </div>
  </div>
</app-page>