<div class="problem-container">
  <div class="container">
    <div class="columns problem-row">
      <div class="column col-sm-12">
        <div class="problem-header">
          Plastic
        </div>
        <div class="problem-content">
          Plastic pollution is the world's fastest growing environmental challenge. Every minute 15 tonnes of plastic reaches the ocean
          from land based sources. Empower rewards plastic waste cleanups with EMP Tokens.
        </div>
      </div>
    </div>
    <div class="columns problem-row">
      <div class="column col-sm-12">
        <div class="problem-header">
          Poverty
        </div>
        <div class="problem-content">
          At least 765 million people live of less than 1.90 USD per day. Empower allows people to lift themselves from poverty by
          reducing plastic waste.
        </div>
      </div>
    </div>
    <div class="columns problem-row">
      <div class="column col-sm-12">
        <div class="problem-header">
          Empower
        </div>
        <div class="problem-content">
          Our EMP Token gives value to plastic waste by using blockchain technology. This will Empower people to take control of their
          own lives and save the planet at the same time.
        </div>
      </div>
    </div>
  </div>
</div>