<div class="subscribe-to-newsletter-container">
  <h2>Subscribe to our newsletter</h2>
  <div class="subscribe-sub-header">
    Be the first to know what is going on with Empower
  </div>

  <a href="http://eepurl.com/dBCuAL" target="_blank">
    <button class="signup-button" type="button">Subscribe</button>
  </a>

  <br>

  <a href="https://join.slack.com/t/empower-public/shared_invite/enQtMzczMzA1NjU2ODM3LWRmNTZjNGU2MjVjNzdlNjlkMDIyNGVmMThmM2IxYjE4ZDkwZTYyNzU5NDQ0NTNiNmM2OTRjMDI5N2UyOGRhNGE"
    target="_blank">
    <button class="slack-button">
      Join Empower Slack
    </button>
  </a>


</div>