<div class="how-it-works-container">
  <h2>how it works</h2>
  <div class="container">
    <div class="columns">
      <div class="column explainer-text col-sm-12 col-6">
        <p>
          Our solution is based on the philosophy and success of the Norwegian bottle recycling system (which ensures
          97% of bottles being recycled). This turns the
          return rate of plastic waste upside down. By giving plastic a value we incentivize people to clean it up and
          deposit the waste instead of throwing it in nature.
        </p>
      </div>
      <div class="column explainer-text col-sm-12 col-6">
        <p>
          Empower is creating a plastic waste fund. This is used to pay people who deliver plastic waste to our
          stations.
          For every kg of plastic delivered, the person is rewarded a digital EMP Token worth $1.
        </p>
      </div>
    </div>
  </div>
  <div class="container step-container">
    <div class="columns">
      <div class="column col-3 col-sm-12">
        <img class="explainer-icon" src="assets/how-it-works/collect.png">
        <h3>step 1</h3>
        <div>
          Anyone can gather plastic waste
        </div>
      </div>
      <div class="column col-3 col-sm-12">
        <img class="explainer-icon" src="assets/how-it-works/recycle.png">
        <h3>step 2</h3>
        <div>
          The waste is delivered at a certified recycling station
        </div>
      </div>
      <div class="column col-3 col-sm-12">
        <img class="explainer-icon" src="assets/how-it-works/emp.png">
        <h3>step 3</h3>
        <div>
          1 EMP token is rewarded for each kilogram of plastic waste (1 EMP always equals $1)
        </div>
      </div>
      <div class="column col-3 col-sm-12">
        <img class="explainer-icon" src="assets/how-it-works/payandexchange.png">
        <h3>step 4</h3>
        <div>
          Tokens can be used in the ecosystem or sold back for local currency
        </div>
      </div>
    </div>
  </div>
</div>