@import "../../../variables.scss";

app-page {
  margin-top: 0;
}

.col-checkout-content {
  padding-top: 50px;
}

.checkout-content-container {
  margin-top: 30px;
}

h1 {
  color: $dark-green;
}

.sponsor-container {
  background-color: $dark-green;
  padding: 25px;
}

.checkout-content-container {
  background: rgba(255,255,255,0.4);
  padding: 50px 70px 50px 70px;

  @media screen and (max-width: 900px) {
    padding: 50px 60px 50px 60px;
  }

  @media screen and (max-width: 800px) {
    padding: 40px 40px 40px 40px;
  }

  @media screen and (max-width: 550px) {
    padding: 30px 25px 30px 25px;
  }

  @media screen and (max-width: 350px) {
    padding: 25px 15px 25px 15px;
  }
}

.login-container {
  text-align: center;
  padding-left: 40px;
  padding-top: 30px;

  .login-button {
    margin-top: 25px;
    width: 50%;
    height: 45px;
  }
}

.checkout-header {
  text-align: center;
  font-size: 2em;
  line-height: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.col-user-info {

  .column {
    padding-left: 5px;
    padding-right: 5px;
  }

  input {
    margin: 5px 10px 5px 0;
  }

  select {
    margin: 5px 10px 5px 0;
  }
}

.country-container {
  margin-bottom: 20px;
}

.order-details {
  margin-top: 30px;
  margin-bottom: 20px;
  border: 2px solid $light-green;
  padding: 30px;

  .order-header {
    font-size: 1.2em;
    font-weight: 600;
  }
}

.validation-error {
  margin-top: 30px;
  border: 2px solid #ed0270;
  padding: 30px;
}

.purchase-container {
  margin-top: 40px;
  text-align: center;

  .purchase-button {
    min-width: 200px;
    width: 50%;
    height: 60px;
    font-size: 1.3em;
  }

  .reference-input {
    min-width: 200px;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.change-amount-button {
  margin-left: 5px;
  border: solid 2px $light-green;
  background: none;
  color: $light-green;
  height: 30px;
  width: 30px;
  padding: 0;
}

.change-amount-button:hover {
  background-color: $light-green;
  color: #fff;
  cursor: pointer;
}

.gift-mail-container {
  margin-top: 10px;
}

#card-element {
  background-color: #fff;
  max-width: 500px;
  padding: 12px;
}

.credit-card-name {
  max-width: 500px;
  color: #666;
  margin-bottom: 10px;
}

.payment-icon {
  height: 30px;
  vertical-align: middle;
  margin-left: 6px;
}

@media screen and (max-width: 600px) {
  .col-checkout-content {
    margin-top: 0;
    padding-top: 0;
  }

  .checkout-content-container {
    margin-top: 0;
  }

  .login-container {
    padding-left: 0;
  }

  .order-details { 
    padding: 20px;
  }

  .purchase-container {
    .purchase-button {
      width: 100%;
    }
  
    .reference-input {
      width: 100%;
    }
  }

  .payment-icons {
    display: block;
    margin-left: -30px;
    margin-top: 10px;
  }

  .payment-icon {
    margin-left: 4px;
  }
  
}

@media screen and (max-width: 400px) {
  .order-details { 
    padding: 10px;
  }
}