@import "../../../variables.scss";

.white-box {
  background-color: #fff;
  padding: 40px 40px 40px 45px;
  margin-right: 350px;
  margin-top: 30px;
  color: $dark-blue;
  height: 670px;

  @media screen and (max-width: 1000px) {
    margin-right: 300px;
  }

  @media screen and (max-width: 900px) {
    margin-right: 200px;
  }

  @media screen and (max-width: 400px) {
    padding: 25px 20px 20px 20px;
  }
}

h2 {
  color: $dark-blue;
  font-size: 36pt;
  margin-bottom: 35px;
  line-height: 1;

  @media screen and (max-width: 700px) {
    font-size: 30pt;
  }

  @media screen and (max-width: 600px) {
    font-size: 28pt;
  }

  @media screen and (max-width: 500px) {
    font-size: 26pt;
  }

  @media screen and (max-width: 400px) {
    font-size: 22pt;
  }
}

.fund-content-container {
  display: flex;
}

.fund-text {
  min-width: 400px;
  padding-right: 40px;
  font-size: 11pt;
}

.section {
  margin-top: 10px;
  margin-bottom: 30px;
}

.fund-image {
  width: 200px;

  img {
    width: 700px;

    @media screen and (max-width: 1350px) {
      width: 600px;
    }

    @media screen and (max-width: 1150px) {
      width: 500px;
    }

    @media screen and (max-width: 1000px) {
      width: 400px;
    }
  }
}

@media screen and (max-width: 850px) {
  .white-box {
    margin-right: 0;
    height: fit-content;
  }

  .fund-content-container {
    flex-direction: column-reverse;
  }

  .fund-text {
    font-size: 12pt;
    width: 100%;
    min-width: auto;
  }
}

@media screen and (max-width: 600px) {
  .fund-image {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .fund-text {
    padding-right: 0;
  }
}
