<div>

    <div class="white-box">
        <h2>we are building
            <br>
            a plastic waste fund</h2>
        <div class="fund-content-container">
            <div class="fund-text">
                <div class="section">
                    <b>A fund dedicated to cleaning up</b>
                    <br>
                    All money in the Plastic Waste Fund is used solely to enable anyone to clean up plastic waste
                    anywhere in the world.
                </div>

                <div class="section">
                    <b>Incentivized Cleaning</b>
                    <br>
                    We reward a digital token called EMP to incentivize people to clean up plastic. Each EMP is always
                    worth $1 and can be used for payment directly, or sold back to us in exchange for local currencies.
                </div>

                <div class="section">
                    <b>1 kg plastic waste = 1 EMP</b>
                    <br>
                    For every dollar you sponsor, 1 kg of plastic will be cleaned from the environment.
                </div>

                <div class="section">
                    <b>Full Transparency</b>
                    <br>
                    We are dedicated to be fully transparent in how donations are being used.
                    When you sponsor you will be able to see exactly when and where EMP Tokens are being rewarded for
                    clean ups.
                </div>
            </div>
            <div class="fund-image">
                <img src="assets/fund-image.jpg">
            </div>
        </div>


    </div>

</div>