<app-page>
  <div class="columns">
    <div class="column col-12 faq-container">
      <h1>FAQ</h1>
      <p>Have some questions on how Empower work?</p>

      <div class="question-container">
        <h2 class="sign" (click)="show($event)">Who gathers the plastic?</h2>
        <div class="question-answer">Anyone who wants to deliver plastic waste and receive Empower Tokens. In our first
          pilots and clean ups there are volunteers who are cleaning beaches and defined areas and the clean ups are
          organised together with local NGOs.</div>
      </div>

      <div class="question-container">
        <h2 class="sign" (click)="show($event)">Where is it gathered?</h2>
        <div class="question-answer">The first pilot was a beach in Hoddevik, Norway. The second clean up was in
          Mumbai, India and the third in Bali, Indonesia. We are continuously planning additional pilots in Norway and
          other countries in Africa and South East
          Asia with the next ones coming up in Indonesia and Sri Lanka, and it can be anywhere, in cities, beaches,
          rivers, jungle etc.</div>
      </div>


      <div class="question-container">
        <h2 class="sign" (click)="show($event)">What happens with the plastic? Where does it end up?</h2>
        <div class="question-answer">In the first pilot the plastic was taken care of by Nordic Ocean Watch, an NGO
          passionate about solving the problems of ocean plastic. In India it was done in cooperation with a local NGO
          and local authorities. We are building a network of trusted partners that will receive and ensure proper
          recycling of the plastic waste and working on establishing certification and QA processes. This is a key to
          make the ecosystem work.</div>
      </div>


      <div class="question-container">
        <h2 class="sign" (click)="show($event)">How are the sponsor money distributed? Who gets what?</h2>
        <div class="question-answer">80% goes directly to the plastic waste fund and is paid out to the ones cleaning
          up
          plastic, 15% goes to develop the technology and run the operations, and 5% is donated to local partners
          (NGOs)
          and charities to fight poverty.</div>
      </div>


      <div class="question-container">
        <h2 class="sign" (click)="show($event)">How do you prove that my money actually goes towards cleaning up plastic?</h2>
        <div class="question-answer">Using Blockchain technology we are able to track and link every deposit of plastic
          back to the sponsor who made it possible. When you get the App you will be able to see and track all your
          donations and where plastic has been collected on your behalf.</div>
      </div>


      <!-- TODO: LINK TO WHITEPAPER HERE TOO -->
    </div>
  </div>

</app-page>